@media (max-width: 639px){
  .modal {
    margin: 40px auto 75px auto;
    padding: 50px 0 50px 0;
    width: 100%;
  }
  .video {
    height: auto;
    width: 100%;
  }
}


@media (min-width: 640px){
  .modal {
    margin: 40px auto 75px auto;
    padding: 50px 0 50px 0;
    width: 600px;
  }

  .video {
    height: auto;
    width: 600px;
  }

}

@media (min-width: 840px){
  .modal {
    margin: 40px auto 75px auto;
    padding: 50px 0 50px 0;
    width: 800px;
  }

  .video {
    height: auto;
    width: 800px;
  }
}

@media (min-width: 1100px){
  .modal {
    margin: 40px auto 75px auto;
    padding: 50px 0 50px 0;
    width: 1000px;
  }

  .video {
    height: auto;
    width: 1000px;
  }
}
