.header {
  background-color: green;
  border-bottom: 2px solid black;
  border-radius: 0 0 30px 30px;
  box-sizing: border-box;
  height: 100px;
}

.header-logo {
  box-sizing: border-box;
  display: block;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.nav-bar {
  background-color: gray;
  border-bottom: 2px solid black;
  border-radius: 0 0 30px 30px;
  box-sizing: border-box;
  color: white;
  height: 50px;
}

.white-text {
  color: white;
  display: inline-block;
  font-family: renner;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  text-decoration: none;
}

.bg-yellow {
  background-color: gray;
}

.bg-blue {
  background-color: blue;
}

.modal {
  border: 2px solid black;
  border-radius: 30px;
  box-sizing: border-box;
  margin: 75px auto;
  padding: 25px;
  width: 50%;
}
