<<<<<<< HEAD
<<<<<<< HEAD:src/index.css
html {
  background: url(mtn-placeholder.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

=======
>>>>>>> add fonts:src/styles/mainpage.css
=======
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  color: black;
  padding: 10%;
}

.header-container {
  display: flex;
}

.dropdown {
    display: inline-block;
}

.dropdown__content {
  background-color: rgb(255,255,255, .7);
  display: none;
  position: absolute;
  text-decoration: none;

}

.dropdown--active .dropdown__content {
    display: block;
    margin-top: 50px;
}


.social {
  display: inline-flex;
  justify-content: flex-end;
}

>>>>>>> add dropdown menu
.header {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
  width: 100%;
}

.header-logo {
  box-sizing: border-box;
  display: block;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.dropdown {
  color: white;
}

.menu-dropdown {
  margin: 20px 25px 20px 25px;
}

.white-text {
  color: white;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  text-decoration: none;
}

.bg-brown {
  background-color: #bbb78d;
}

.bg-blue {
  background-color: blue;
}

.modal {
  border: 2px solid black;
  border-radius: 30px;
  box-sizing: border-box;
  margin: 75px auto;
  padding: 25px;
  width: 50%;
}
